/* CSS svelte-tags-input */

.svelte-tags-input,
.svelte-tags-input-tag,
.svelte-tags-input-matches {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    padding: 2px 5px;
}

/* svelte-tags-input-layout */

.svelte-tags-input-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 5px 5px 5px;
}

.svelte-tags-input-layout:focus,
.svelte-tags-input-layout:hover {
    border: solid 1px #000;
}

/* svelte-tags-input */

.svelte-tags-input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    /* margin-top: 5px; */
    border: none;
}

.svelte-tags-input:focus {
    outline: 0;
}

/* svelte-tags-input-tag */

.svelte-tags-input-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    list-style: none;
    background: #000;
    color: #FFF;
    border-radius: 2px;
    margin-right: 5px;
    margin-top: 5px;
}

/*.svelte-tags-input-tag:hover {
    background: #CCC;
}*/

.svelte-tags-input-tag-remove {
    cursor: pointer;
}

/* svelte-tags-input-matches */

.svelte-tags-input-matches-parent {
    position: relative;
}

.svelte-tags-input-matches {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 3px 0;
    padding: 0px;
    background: #FFF;
    border: solid 1px #CCC;
    border-radius: 2px;
    max-height: 310px;
    overflow: scroll;
    overflow-x: auto;
}

.svelte-tags-input-matches li {
    list-style: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.svelte-tags-input-matches li:hover,
.svelte-tags-input-matches li:focus {
    background: #000;
    color: #FFF;
    outline: none;
}

/* svelte-tags-input disabled */
.svelte-tags-input-layout.sti-layout-disable,
.svelte-tags-input:disabled {
    background: #EAEAEA;
    cursor: not-allowed;
}

.svelte-tags-input-layout.sti-layout-disable:hover,
.svelte-tags-input-layout.sti-layout-disable:focus {
    border-color: #CCC;
}

.svelte-tags-input-layout.sti-layout-disable .svelte-tags-input-tag {
    background: #AEAEAE;
}

.svelte-tags-input-layout.sti-layout-disable .svelte-tags-input-tag-remove {
    cursor: not-allowed;
}
